/* Start Variables */
:root {
    --main-color: #555;
    /* --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s; */
}
/* End Variables */
.container {
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Nav */
.navbar{
    display: flex;
    align-items:center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--main-color);
}
/* End Nav */
.header{
    background-color: #ffdede7d;
}
/* start row */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row .col-2{
    flex-basis: 50%;
}
.row .col-2 img{
    max-width: 100%;
    padding: 50px 25px;
}
.col-2 h1{
    font-size: 50px;
    font-family: 'Crimson Text', serif;
}
.col-2 p{
    font-size: 16px;
    color: var(--main-color);
    margin-top: 20px;
    font-family: 'Crimson Text', serif;
}
.col-2 .btn{
    display: inline-block;
    text-decoration: none;
    background-color: #ff6600;
    color : rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px 30px;
    margin-left: 20px;
    margin-top: 20px;
}

/* end row */